In [1]:
%matplotlib inline
import os
import sys
import six # Python 2 and 3 compatibility library; provides utility functions for smoothing over differences between versions 
import datetime
#import openpyxl
import pygal
import pandas as pd
import numpy as np
#from pandas import ExcelWriter
#from pandas import ExcelFile
import seaborn as sns
import matplotlib.pyplot as plt
print( "Necessary packages/libraries are imported at " + str( datetime.datetime.now() ) )

Necessary packages/libraries are imported at 2021-02-01 19:57:40.057557

In [2]:
df = pd.read_excel("https://ncses.nsf.gov/pubs/nsf21303/assets/data-tables/tables/nsf21303-tab001.xlsx", skiprows = [0, 1, 2], usecols= [0, 1, 3, 5])

C:\Users\Muluken\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df.head(25)

,Company and financial information,All companies,1–4 employees,5–9 employees
0,Total R&D cost,6655717,3525771,3129946
1,"R&D for salaries, wages, and fringe benefits",3656750,1895125,1761625
2,R&D for expensed machinery and equipment (not ...,256952,153000,103952
3,R&D for materials and supplies,583126,319901,263224
4,R&D for payments to business partners for coll...,361014,228498,132516
5,R&D for purchased R&D services,604337,285706,318632
6,R&D for depreciation on R&D property and equip...,91733,51480,40253
7,R&D for other costs,1101806,592061,509745
8,R&D paid for by company,5345991,2806839,2539152
9,R&D paid for by foreign owner,195846,94969,100877
10,R&D paid for by another U.S. business,235492,162868,72625
11,R&D paid for other businesses located outside ...,73188,46658,26530
12,R&D paid for by U.S. university or college,17742,11093,6649
13,R&D paid for by U.S. nonprofit organization,15548,10015,5533
14,R&D paid for by U.S. federal government,697014,341752,355263
15,R&D paid for by U.S. state or local government,21483,13568,7915
16,R&D paid for by other sources,53412,38009,15403
17,R&D paid by company and performed by others,965351,514204,451147
18,R&D paid for basic research,921124,478702,442423
19,R&D paid for applied research,2230773,1265002,965771
20,R&D paid for development,3503820,1782067,1721753