In [1]:
import pandas as pd
from zipfile import ZipFile, Path
import warnings
warnings.filterwarnings("ignore")

# with ZipFile("https://ncsesdata.nsf.gov/datadownload/index.html?survey=PSD2019&type=data") as myzip:
#     data = myzip.open("psd19Public")

# #Now, we can read in the data
# df = pd.read_sas(data)

# df.head()

In [2]:
import pandas as pd
import zipfile

df = pd.read_sas('../../Users/muluken/WorkingFiles/NSF_NCSES/Data/psd17Public/epsd17.sas7bdat', format='sas7bdat')
df.head()

,ACADADJF,ACADADMN,ACADNA,ACADOTHP,ACADPDOC,ACADRCHF,ACADTCHF,ACADV,ACCAR,ACCCEP,...,WRKGP,WTRCHOC,WTREASN,WTREM,WTRLIC,WTROPPS,WTROT,WTRPERS,WTRSKL,WTSURVY
0,b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',...,b'N',b'N',b'3',b'N',b'Y',b'Y',b'N',b'Y',b'Y',28.7080
1,b'N',b'N',b'N',b'N',b'N',b'N',b'Y',b'L',b'L',b'L',...,b'Y',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',12.0129
2,b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',...,b'Y',b'N',b'5',b'Y',b'N',b'N',b'N',b'N',b'N',4.2133
3,b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',...,b'Y',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',10.9367
4,b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',...,b'N',b'L',b'L',b'L',b'L',b'L',b'L',b'L',b'L',7.7709

In [7]:
df = pd.read_sas('../../Users/muluken/WorkingFiles/NSF_NCSES/Data/psd17Public/epsd17.sas7bdat', format='sas7bdat', encoding="utf-8")
df.head()

,ACADADJF,ACADADMN,ACADNA,ACADOTHP,ACADPDOC,ACADRCHF,ACADTCHF,ACADV,ACCAR,ACCCEP,...,WRKGP,WTRCHOC,WTREASN,WTREM,WTRLIC,WTROPPS,WTROT,WTRPERS,WTRSKL,WTSURVY
0,L,L,L,L,L,L,L,L,L,L,...,N,N,3,N,Y,Y,N,Y,Y,28.7080
1,N,N,N,N,N,N,Y,L,L,L,...,Y,L,L,L,L,L,L,L,L,12.0129
2,L,L,L,L,L,L,L,L,L,L,...,Y,N,5,Y,N,N,N,N,N,4.2133
3,L,L,L,L,L,L,L,L,L,L,...,Y,L,L,L,L,L,L,L,L,10.9367
4,L,L,L,L,L,L,L,L,L,L,...,N,L,L,L,L,L,L,L,L,7.7709

In [8]:
df.info

<bound method DataFrame.info of       ACADADJF ACADADMN ACADNA ACADOTHP ACADPDOC ACADRCHF ACADTCHF ACADV  \
0            L        L      L        L        L        L        L     L
1            N        N      N        N        N        N        Y     L
2            L        L      L        L        L        L        L     L
3            L        L      L        L        L        L        L     L
4            L        L      L        L        L        L        L     L
...        ...      ...    ...      ...      ...      ...      ...   ...
85734        N        N      N        N        N        Y        Y     L
85735        L        L      L        L        L        L        L     L
85736        N        N      N        N        N        N        Y     L
85737        N        Y      N        N        N        N        N     L
85738        L        L      L        L        L        L        L     L

      ACCAR ACCCEP  ... WRKGP WTRCHOC WTREASN WTREM WTRLIC WTROPPS WTROT  \
0         L      L  ...     N       N       3     N      Y       Y     N
1         L      L  ...     Y       L       L     L      L       L     L
2         L      L  ...     Y       N       5     Y      N       N     N
3         L      L  ...     Y       L       L     L      L       L     L
4         L      L  ...     N       L       L     L      L       L     L
...     ...    ...  ...   ...     ...     ...   ...    ...     ...   ...
85734     L      L  ...     Y       L       L     L      L       L     L
85735     L      L  ...     Y       N       5     Y      N       N     N
85736     L      L  ...     Y       L       L     L      L       L     L
85737     L      L  ...     Y       N       1     N      N       N     N
85738     L      L  ...     N       N       1     N      N       N     N

      WTRPERS WTRSKL  WTSURVY
0           Y      Y  28.7080
1           L      L  12.0129
2           N      N   4.2133
3           L      L  10.9367
4           L      L   7.7709
...       ...    ...      ...
85734       L      L   3.7550
85735       N      Y   1.6724
85736       L      L   5.2166
85737       Y      Y   1.1077
85738       N      Y   1.1583

[85739 rows x 241 columns]>

In [9]:
df.shape

(85739, 241)

In [10]:
df.describe()

,AGEGRP,BAAYR5P,D25YRP,D35YRP,DIFAGEGR,EARNP,HDAY5P,HRSWKP,MR5YRP,PRMBRPB,REFYR,SALARYP,SDR5YRP,SURID,WKSLYR,WKSWK,WTSURVY
count,85739.000000,85739.000000,85739.000000,85739.000000,85739.000000,8.573900e+04,85739.000000,85739.000000,85739.000000,85739.000000,85739.0,8.573900e+04,85739.000000,85739.0,85739.000000,85739.000000,85739.000000
mean,48.215573,2122.864053,2043.321779,4390.861160,80.234397,1.128720e+06,1996.458613,15.836177,1996.563408,1.709689,2017.0,1.412217e+06,1996.454647,2.0,86.506152,55.290813,12.867066
std,12.727881,1035.513635,652.038496,3672.126627,27.990417,2.999560e+06,12.569124,32.038607,12.633600,2.121617,0.0,3.348377e+06,12.566428,0.0,24.034160,17.932577,13.986884
min,25.000000,1960.000000,1960.000000,1960.000000,20.000000,0.000000e+00,1965.000000,1.000000,1965.000000,0.000000,2017.0,0.000000e+00,1965.000000,2.0,1.000000,1.000000,1.000000
25%,35.000000,1975.000000,1980.000000,1980.000000,60.000000,6.500000e+04,1990.000000,3.000000,1990.000000,0.000000,2017.0,6.700000e+04,1990.000000,2.0,98.000000,52.000000,3.398800
50%,45.000000,1990.000000,1990.000000,1995.000000,98.000000,1.010000e+05,2000.000000,4.000000,2000.000000,1.000000,2017.0,1.030000e+05,2000.000000,2.0,98.000000,52.000000,8.751000
75%,60.000000,2000.000000,2000.000000,9998.000000,98.000000,1.680000e+05,2010.000000,4.000000,2010.000000,3.000000,2017.0,1.690000e+05,2005.000000,2.0,98.000000,52.000000,17.393450
max,70.000000,9998.000000,9998.000000,9998.000000,98.000000,9.999998e+06,2015.000000,98.000000,2015.000000,98.000000,2017.0,9.999998e+06,2015.000000,2.0,98.000000,98.000000,89.023600